<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.yf.oa.propertyset.PropertySetMapper">
    
    
    <select id="get" parameterType="HashMap"  resultType="HashMap">
	      select * from os_propertyentry where GLOBAL_KEY = #{GLOBAL_KEY} and ITEM_KEY = #{KEY}
	 </select>
	 
    
</mapper>
   
